<!-- Transaction Card -->

<section class="pb-28">
  <div class="justify-between flex items-center">
    <h1 class="text-2xl text-zinc-100 font-bold">Transactions</h1>
    <!-- Filter Menu -->
    <div class="w-full flex justify-end">
      <button
        class="bg-zinc-800 px-2 py-2 rounded-xl"
        (click)="isFilterOpen = !isFilterOpen"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
          width="20"
          height="20"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5"
          />
        </svg>
      </button>

      <!-- Conditionally rendering -->
      <div class="absolute mt-11" *ngIf="isFilterOpen">
        <p-menu [model]="items"> </p-menu>
      </div>
    </div>
  </div>

  <!-- Transaction Cards -->
  <main class="mt-2">
    <div *ngFor="let group of groupedTransactions" class="mb-2">
      <div class="flex justify-between w-full items-center mt-4">
        <div class="w-full">
          <h2 class="font-semibold text-gray-300">
            {{ group.date | date : "longDate" }}
          </h2>
        </div>
        <!-- Future : v1.2 -->
        <!-- <div class="w-full flex justify-end mr-6">
          <p
            class="font-bold"
            [ngClass]="{
              ' text-base  text-red-500': group.amount < 0,
              ' text-emerald-600': group.amount > 0
            }"
          >
            ₹{{ group.amount }}
          </p>
        </div> -->
      </div>

      <div
        class="w-full h-full mt-3 flex flex-col gap-2"
        *ngFor="let item of group.transactions"
      >
        <div class="w-full h-[5.5rem] bg-zinc-900 rounded-xl p-5">
          <div class="flex justify-between items-center">
            <!-- Title -->
            <div class="h-full w-7/12 gap-1 flex flex-col">
              <p class="text-base text-slate-200 font-bold ml-1">
                {{ item.title }}
              </p>
              <p class="text-xs text-zinc-400 font-bold ml-1">
                {{ item.category }}
              </p>
            </div>

            <!-- Expense Amount -->
            <div
              class="flex justify-end items-center gap-2 h-full w-5/12 relative"
            >
              <div
                class="rounded-full p-1 gap-1 flex flex-col"
                [ngClass]="
                  item.type === 'income' ? 'text-emerald-600' : 'text-red-500'
                "
              >
                <p
                  *ngIf="item.type === 'expense'; else showIncomeSvg"
                  class="text-base font-semibold gap-0.5 flex flex-col justify-center items-end"
                >
                  -₹{{ item.amount }}
                  <span class="text-xs text-zinc-400"
                    >From {{ item.accountName }}</span
                  >
                </p>

                <ng-template #showIncomeSvg>
                  <p
                    class="text-base font-semibold gap-0.5 flex flex-col justify-center items-end"
                  >
                    +₹{{ item.amount }}
                  </p>
                  <p class="text-xs text-zinc-400">In {{ item.accountName }}</p>
                </ng-template>
              </div>
              <div>
                <button (click)="onCardClick(item._id)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    viewBox="0 -960 960 960"
                    width="24"
                    fill="currentColor"
                    class="text-slate-100"
                  >
                    <path
                      d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
                    />
                  </svg>
                  <div
                    class="absolute w-fit -translate-x-2 translate-y-10 top-0 right-0 z-30"
                    *ngIf="this.isCardOpen && item._id === clickedItemId"
                  >
                    <p-menu [model]="cardItems"> </p-menu>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
<app-add-transaction
  [userId]="userId"
  [categoriesList]="categoriesList"
  [accountList]="accountList"
  (loadTransaction)="addTransactionEmit()"
></app-add-transaction>

<!-- Update Container -->

<p-dialog
  header="Update transaction"
  [(visible)]="isEditing"
  [modal]="true"
  [style]="{ width: '90vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="w-full">
    <div class="gap-1 flex flex-col">
      <label htmlFor="username" class="text-xs uppercase"
        >Transaction Name</label
      >
      <input
        pInputText
        class="p-inputtext-sm"
        id="username"
        aria-describedby="username-help"
        name="title"
        [(ngModel)]="transactionItem.title"
      />
    </div>
    <div class="gap-1 flex flex-col p-fluid mt-2">
      <label class="block text-xs uppercase" for="currency-india">Amount</label>
      <p-inputNumber
        [(ngModel)]="transactionItem.amount"
        inputId="locale-user"
        class="p-inputtext-sm"
        [minFractionDigits]="2"
        name="amount"
      >
      </p-inputNumber>
    </div>
    <div class="gap-1 flex flex-col p-fluid mt-2">
      <label class="block text-xs uppercase" for="currency-india"
        >Category</label
      >
      <p-dropdown
        [(ngModel)]="transactionItem.category"
        [options]="categoriesList"
        class="p-inputtext-sm"
        name="category"
        placeholder="Select category"
      ></p-dropdown>
    </div>
    <div class="gap-1 flex flex-col p-fluid mt-2">
      <label class="block text-xs uppercase" for="currency-india"
        >Account</label
      >
      <p-dropdown
        name="accountName"
        [(ngModel)]="transactionItem.accountName"
        [options]="accountList"
        class="p-inputtext-sm"
        placeholder="Select a account"
      ></p-dropdown>
    </div>
    <div class="gap-1 flex flex-col p-fluid mt-2">
      <label class="block text-xs uppercase" for="currency-india">Type</label>
      <p-dropdown
        name="type"
        [(ngModel)]="transactionItem.type"
        [options]="typeList"
        class="p-inputtext-sm"
        placeholder="Select a type"
      ></p-dropdown>
    </div>
    <div class="gap-1 flex flex-col p-fluid mt-2">
      <label class="block text-xs uppercase" for="currency-india">Date</label>
      <p-calendar
        [(ngModel)]="transactionItem.date"
        [showTime]="true"
        [showSeconds]="true"
        class="p-inputtext-sm"
        [showIcon]="true"
        dateFormat="dd M yy"
        name="date"
      ></p-calendar>
    </div>
    <div class="w-full mt-2 flex justify-end items-start">
      <p-button
        label="Update"
        type="submit"
        styleClass="p-button-sm"
      ></p-button>
    </div>
  </form>
</p-dialog>
