/* Calender customization */
:host ::ng-deep .custom-date .p-calendar {
  border-radius: 90px;
  width: 110px;
  background-color: #27272a;
  margin-left: 10px;
  height: 40px;
  z-index: 999px;
}

:host ::ng-deep .add-datepicker .p-datepicker {
  z-index: 999px;
  margin-top: 35px;
}
