<app-layout>
  <header class="w-full h-full flex justify-between items-center">
    <div class="flex flex-col gap-1">
      <p class="text-xl font-bold">Category</p>
    </div>
    <p-button
      label="Create"
      icon="pi pi-plus"
      (click)="showDialog()"
      styleClass="p-button-sm p-button-info"
    ></p-button>
  </header>

  <!-- Accounts -->
  <main class="mt-4 mb-16">
    <ng-container *ngIf="categoryList$ | async as categoryList; else loading">
      <article
        *ngFor="
          let category of categoryList$ | async as Category;
          trackBy: userByCategoryId
        "
        class="h-[4rem] w-full bg-zinc-800 mb-2 rounded-md border-2 border-zinc-600"
      >
        <div class="h-fukk w-full rounded-md rounded-b-none">
          <!-- Account Name -->
          <div class="w-full h-3/6 p-4 flex justify-between items-center gap-3">
            <div class="flex justify-start items-center gap-2">
              <p class="font-medium text-lg">{{ category.categoryName }}</p>
            </div>
            <!-- Menu Icon -->
            <div>
              <button (click)="onCardClick(category._id)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  fill="currentColor"
                  class="text-slate-100"
                >
                  <path
                    d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
                  />
                </svg>
                <!-- <div
                  class="absolute w-fit -translate-x-10 translate-y-[7rem] top-0 right-0 z-30"
                  *ngIf="this.isCardOpen && category._id === clickedItemId"
                >
                  <p-menu [model]="cardItems"> </p-menu>
                </div> -->
              </button>
            </div>
          </div>
        </div>
      </article>
    </ng-container>

    <!-- Loading  -->
    <ng-template #loading>
      <main class="flex h-[80vh] justify-center items-center">
        <div
          class="inline-block h-8 w-8 animate-spin rounded-full border-2 border-solid border-current border-r-transparent align-[-0.125em] text-secondary motion-reduce:animate-[spin_1.5s_linear_infinite]"
          role="status"
        >
          <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
            >Loading...</span
          >
        </div>
      </main>
    </ng-template>
  </main>
</app-layout>

<!-- Create New Category Model -->
<p-dialog
  header="Create new category"
  [(visible)]="isCategory"
  [modal]="true"
  [style]="{ width: '90vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="gap-1 flex flex-col">
      <label htmlFor="username" class="text-xs uppercase">Category Name</label>
      <input
        pInputText
        class="p-inputtext-sm"
        id="username"
        aria-describedby="username-help"
        name="title"
        [(ngModel)]="category.categoryName"
      />
    </div>
    <!-- <div class="gap-1 flex flex-col p-fluid mt-2">
      <label class="block text-xs uppercase" for="currency-india"
        >Initial balance</label
      >
      <p-inputNumber
        [(ngModel)]="accounts.amount"
        inputId="locale-user"
        class="p-inputtext-sm"
        [minFractionDigits]="2"
        name="amount"
      >
      </p-inputNumber>
    </div> -->
    <div class="w-full mt-2 flex justify-end items-start">
      <p-button
        label="Add"
        type="submit"
        icon="pi pi-plus"
        styleClass="p-button-sm  p-button-info"
      ></p-button>
    </div>
  </form>
</p-dialog>

<!-- Edit Catgeory -->
<p-dialog
  header="Update category"
  [(visible)]="isCardOpen"
  [modal]="true"
  [style]="{ width: '90vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form (ngSubmit)="updateCategory(form)" #form="ngForm">
    <div class="gap-1 flex flex-col">
      <label htmlFor="username" class="text-xs uppercase">Category Name</label>
      <input
        pInputText
        class="p-inputtext-sm"
        id="username"
        aria-describedby="username-help"
        name="title"
        [(ngModel)]="category.categoryName"
      />
    </div>
    <!-- <div class="gap-1 flex flex-col p-fluid mt-2">
      <label class="block text-xs uppercase" for="currency-india"
        >Initial balance</label
      >
      <p-inputNumber
        [(ngModel)]="accounts.amount"
        inputId="locale-user"
        class="p-inputtext-sm"
        [minFractionDigits]="2"
        name="amount"
      >
      </p-inputNumber>
    </div> -->
    <div class="w-full mt-2 flex justify-end items-center gap-2">
      <p-button
        label="Update"
        type="submit"
        styleClass="p-button-sm  p-button-info"
      ></p-button>
      <p-button
        label="Delete"
        type="button"
        (click)="deleteCategory()"
        severity="danger"
        styleClass="p-button-sm  p-button-danger"
      ></p-button>
    </div>
  </form>
</p-dialog>
